:root {
    --san-marino: #5c74b3;
    --revolver: #1b132c;
    --waikawa-gray: #5463a3;
    --energy-yellow: #f8dd57;
    --tacao: #f3a481;
    --strikemaster: #935393;
    --affair: #7c4382;
    --bossanova: #433366;
    --chambray: #3c508c;
}
