*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #232323;
  color: whitesmoke;
}

.ActorInput{
  padding: 50px;
  background-color: #343434;
}

.ActorListComp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}