@inject NavigationManager Navigation
@page "/GamePage/{Id:int}"
<div id="header">
    <div class="label-left">
        <h3>Guess the song</h3>
    </div>
    <div class="center-container">
        <div class="score-container">
            <h2 class="score-label">Your score</h2>
            <hr id = "score divider">
            <div class="score-display">@Score</div>
        </div>
    </div>
    <div class="label-right">
        <h3>@Name</h3>
    </div>
</div>
<div class="centerText">
    <p>@Manager.Lyrics.lyric_text;</p>
</div>
<div id="song-options">
    <h3 id="song-options-label">Pick your option</h3>
    <div id="grey-box">
        @for (int i = 0; i < Manager.songList.Length; i++)
        {
            <GuessTheSong.components.OptionsDisplay songID="Manager.songList[i]"></GuessTheSong.components.OptionsDisplay>
        }
        
    </div>
</div>
