@page "/"

<PageTitle>Guess The Game</PageTitle>
<div class="page">
    <h1 class="title">Guess The Song!</h1>

    <img class="image" src="images/logo.svg" alt="logo" />

    <section class="button-section"> 
    <NavLink class="nav-link" href="Profile">
    <button class="button" > Login </button>
    </NavLink>

    <NavLink class="nav-link" href="sign-up">
    <button class="button"> Register </button>
    </NavLink >
    </section>

</div>

<p>@Name</p>
<GuessTheSong.components.SmallProfileDisplay></GuessTheSong.components.SmallProfileDisplay>
<GuessTheSong.components.Test></GuessTheSong.components.Test>
<GuessTheSong.components.ScoreDisplay></GuessTheSong.components.ScoreDisplay>



