@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

        <NavLink class="nav-link" href="sign-up">
            <button > Register </button>
            </NavLink>

<p>@Name</p>
<GuessTheSong.components.SmallProfileDisplay></GuessTheSong.components.SmallProfileDisplay>
<GuessTheSong.components.Test></GuessTheSong.components.Test>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
    }
}


