.page {background-color: #5c71b2;
 
}

.pageContainer {
      font-family: 'Comic Sans MS';
   
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content:center
}

.progressContainer {

    width: 100px;
    height: 10px;
    background-color: white
}

.progressBar {
  width:0;
    height: 10px;
    background-color: darkred
}

.greeting{
    text-align:center
}