@page "/Profile/{Id:int}"
<PageTitle>Profile</PageTitle>
<div class="page">
    <h1 class="title">Hi Name</h1>

    <div class="progressContainer">
        <div class="progressBar"></div>
    </div>
    <p>Your total Score</p>

    <p>You are scoring more than of users</p>
    <section class="button-section">
        <NavLink class="nav-link" href="sign-in">
            <button class="button"> Login </button>
        </NavLink>

        <NavLink class="nav-link" href="sign-up">
            <button class="button"> Register </button>
        </NavLink>
    </section>

    <GuessTheSong.components.PopupMessage></GuessTheSong.components.PopupMessage>
</div>
