@page "/Profile/{ID}"
<PageTitle>Profile</PageTitle>

<div class="page">
    <h1 class="title">Hi Name</h1>

    
    <p>Your total Score</p>
    <p>@Id</p>

    <p>You are scoring more than of users</p>
    
    <section class="button-section">
        <button @onclick="goToGameClick">Go to game:</button>
    </section>
</div>
    <GuessTheSong.components.PopupMessage></GuessTheSong.components.PopupMessage>


@code {
    [Parameter]
    public int ID { get; set; }
}
