@page "/sign-up"

<PageTitle>Sign Up</PageTitle>

 
    <main>
    <h2>Sign Up</h2>
    <h3>Please fill out this form with the required information</h3>
    <form method="post" action='https://submit.page.co.za'>
      <fieldset>
        <label for="user-name">Enter Your Username: </label>
        <input id="user-name" name="user-name" type="text" required />
        <label for="new-password">Create a New Password: </label>
        <input id="new-password" name="new-password" type="password" pattern="[a-z0-5]{8,}" required />
      </fieldset>
      <input type="submit" value="Submit"/>
    </form>
    </main>   