@page "/sign-in"

<PageTitle>Sign In</PageTitle>

 
    <main class="page">
    <h2>Sign In</h2>
    <h3>Please enter sign in details</h3>
    <form class="form" method="post" action=''>
      <div class="login-section" >
          
        <label for="user-name">Enter your username: </label>
        <input id="user-name" class="input" name="user-name" type="text" required />
       
        <label for="new-password">Enter your password: </label>
        <input id="new-password" class="input" name="new-password" type="password" pattern="[a-z0-5]{8,}" required />
        
      </div>
      <input class="button" type="submit" value="Submit"/>
    </form>
    </main>   