@page "/sign-in"

<PageTitle>Sign In</PageTitle>


<main class="page">
    <h2>Sign In</h2>
    <h3>Please enter sign in details</h3>
    <div class="login-section">

        <label for="user-name">Enter your username: </label>
        <input id="user-name" class="input" name="user-name" type="text" required />

        <label for="new-password">Enter your password: </label>
        <input id="new-password" class="input" name="new-password" type="password" required />

    </div>

    <button class="button" @onclick="signInClick">Register</button>
    <input class="button" type="submit" value="Back" onClick="history.go(-1);">
    <GuessTheSong.components.PopupMessage errorMessage="@errorMessage" isDisplayingMessage="@displayError"></GuessTheSong.components.PopupMessage>
</main>   