@using GuessTheSong.Models 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welconjme</h1>
    @{
        var data = ViewData["Songss"];
    } 
    <a href="">
        @{
 @data
        }

    </a>

</div>