button{
    background-color: #565656;
}

input {
    background-color: #565656;
}

.display{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: #454545;
    width:20vw;
}