
<div class="display">
    <h3>ActorList</h3>
    <h1>@genPage()</h1>
    <button @onclick="clickUpdate">Click to Update</button>
    <label>@displayData</label>
    <input @bind="temp" />
    <label>@temp</label>

</div>