.scoreDisplayBody {
    display: flex;
    flex-direction: column;
    width: 15vw;
    aspect-ratio: 1/1;
    background-color: var(--revolver);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: var(--edgeRounding);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 85%;
}

h1{
    padding:0;
    margin:0;
    font-size: 3rem;
}