<h3>ActorAddComp</h3>
<label>Actor Name</label>
<input @bind="actorName" />
<button @onclick="publishActor">Publish Actor</button>
@code {
    public String actorName = "";
    public void publishActor()
    {
        
    }
}
