<h3>Counter</h3>
@page "/Counter"
<BlazorMVC.Comps.Counter></BlazorMVC.Comps.Counter>
<BlazorMVC.Comps.Counter></BlazorMVC.Comps.Counter>
<BlazorMVC.Comps.Counter></BlazorMVC.Comps.Counter>
@code {

}
